# macOS
.DS_Store
._*

# Vim
*.swp
*.swo
*~

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Test files
*.xlsx
*.xls
*.csv
*.docx

# Generated output
output/
tmp/

# ignore toàn bộ target
target/*
# ignore Cargo.lock
Cargo.lock
